@import url('https://fonts.googleapis.com/css?family=Space+Mono');

h1, h2, h3, h4, h5, .start {
    color: #fff;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1;
}